body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#background {
  background-color: darkgrey;
}

#heading {
  background-color: black;
}

#title {
  font-size: 80px;
  font-family: fantasy;
  color: floralwhite;
}
#edit {
  width: 20px;
  height: 20px;
  float: right;
}

#delete {
  width: 20px;
  height: 20px;
  float: left;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-right: 5px;
  margin-left: 80px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 400px;
  height: 560px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: white;
}
